STRIPE_SECRET_KEY=sk_test_replace_me
ADMIN_ACCESS_TOKEN=replace_with_random_admin_token
URL=http://localhost:8888
NETLIFY_BLOBS_SITE_ID=optional_site_id_for_manual_blobs_access
NETLIFY_BLOBS_TOKEN=optional_personal_access_token_for_manual_blobs_access